* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}
body {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("https://preview.redd.it/vhg4vpsvozed1.jpeg?width=1080&crop=smart&auto=webp&s=066f632d0cc1b7bc3df9bdec3eed9d56263cc0b3");
}

.caixa-maior {
   background: #000;
   opacity: 0.8;
   border-radius: 25px;
   padding: 25px;
   width: 95%;
   max-width: 450px;
}

.input-cidade {
   border: none;
   outline: none;
   padding: 10px;
   border-radius: 25px;
   font-size: 18px;
   background-color: #7c7c7c2b;
   color: #ffff;
   width: calc(100% - 70px);
}

.botão-busca {
   border: none;
   outline: none;
   padding: 10px;
   border-radius: 50px;
   background-color: #7c7c7c2b;
   cursor: pointer;
   float: right;
}

.img-busca {
   width: 20px;
}

.caixa-media {
   margin-top: 30px;
}

.cidade {
   color: #ffff;
   font-size: 28px;
   font-weight: 300;
}

.temp {
   font-size: 20px;
   color: #ffff;
   margin-top: 20px;
}

.caixa-menor {
   display: flex;
   align-items: center;
   margin-top: 20px;
}

.texto-previsao {
   color: #ffff;
   margin-left: 20px;
   text-transform: capitalize;
}

.Umidade {
   color: #ffff;
   margin-top: 20px;
}
